@import "tailwindcss";

@theme {
	--color-kiru-primary: #6A5BC2;
	--color-kiru-secondary: #E8E4F8;
	--color-kiru-text-main: #4A4A4A;
	--color-kiru-online: #4CAF50;
	--color-kiru-offline: #FF9800;
	--color-kiru-background: #F5F7FA;
	--color-kiru-primary-hover: #5849AD;
	--radius-kiru: 1rem;
}

:root {
	font-family: 'Inter', system-ui, -apple-system, sans-serif;
	background-color: var(--color-kiru-background);
	color: var(--color-kiru-text-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-height: 100vh;
}

.classic-input-number .ant-input-number-input {
	color: #1e293b !important;
	height: 40px !important;
	font-size: 24px !important;
	text-align: center !important;
}
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }