# Konfigurasi Database MySQL
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

APP_NAME=
APP_PORT=
APP_HOST=
APP_ENV=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=

CORS_ORIGIN=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_NAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_USERNAME=

NODE_ENV=